<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563828992145-r8ueouo7glr44smaipe7q58om1at3be9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563828992145-r8ueouo7glr44smaipe7q58om1at3be9</string>
	<key>API_KEY</key>
	<string>AIzaSyCNeacy4ksLDMUUu2MdELPU4L3Y77wGprk</string>
	<key>GCM_SENDER_ID</key>
	<string>563828992145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>staj-c173e</string>
	<key>STORAGE_BUCKET</key>
	<string>staj-c173e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563828992145:ios:ae3125512714982f88b730</string>
</dict>
</plist>